**/*

!/.github
!/.github/**

!/subarulink
!/subarulink/**

!/tests
!/tests/**

**/__pycache__
**/*.pyc
**/.DS_Store

!.pre-commit-config.yaml
!AUTHORS.md
!DEVELOPERS.md
!LICENSE
!Makefile
!MANIFEST.in
!Pipfile
!Pipfile.lock
!pyproject.toml
!README.md
!run_cli.py
!setup.cfg
!setup.py
