**/*

!/.github
!/.github/**

!/subarulink
!/subarulink/**

!/tests
!/tests/**

!/.vscode/**
!/.devcontainer/**


**/__pycache__
**/*.pyc
**/.DS_Store

!.pre-commit-config.yaml
!DEVELOPERS.md
!LICENSE
!Makefile
!MANIFEST.in
!Pipfile
!Pipfile.lock
!pyproject.toml
!README.md
!Dockerfile.dev