[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
cryptography = "*"
pre-commit = "*"
pylint = "*"
pylint-strict-informational = "*"
pytest = "*"
pytest-aiohttp = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-sugar = "*"
twine = "*"

[packages]
aiohttp = "*"
stdiomask = "*"

[pipenv]
allow_prereleases = false

[requires]
python_version = "3.11"
