[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
pydocstyle = "*"
pylint = "*"
pytest-cov = "*"
twine = "*"
black = "*"
pre-commit = "*"
pytest = "*"
cryptography = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"
asynctest = "*"
importlib-metadata = "*"
pdoc3 = "*"
pytest-sugar = "*"

[packages]
aiohttp = "*"
stdiomask = "*"

[pipenv]
allow_prereleases = true
